{% extends "wrapper.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <h5>Голосовая команда</h5>
        </div>
        <div class="col-sm-4">
            <h5>Устройство</h5>
        </div>
        <div class="col-sm-3">
            <h5>Действие</h5>
        </div>
    </div>
{#    <div class="row">#}
        <form class="form-inline">
            <input class="col-sm-4">
             <div class="form-group col-sm-4">
                 <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>20000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                 </select>
            </div>
            <div class="form-group col-sm-2">
                 <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                 </select>
            </div>
        <input type="submit" value="Добавить" class="col-sm-2">
        </form>
{#    </div>#}
{% endblock %}